<mat-dialog-content>
    <h3 class=" font-bold text-indigo-800 text-lg">{{data.title}}</h3>
    <form [formGroup]="form" class="mt-5 mb-5">
        <div class="mt-3 mb-3 flex flex-col">
            <label class="mt-1 mb-1 text-xs">Name: </label>
            <input  class="w-52 h-9 text-center" placeholder="Facebook" formControlName="name" />
        </div>

        <div class="mt-3 mb-3 flex flex-col">
            <label class="mt-1 mb-1 text-xs">Url: </label>
            <input  class="w-52 h-9 text-center" placeholder="https://www.facebook.com" formControlName="url" />
        </div>

        <div class="mt-3 mb-3 flex flex-col">
            <label class="mt-1 mb-1 text-xs">Username: </label>
            <input  class="w-52 h-9 text-center" placeholder="rodritorrico" formControlName="username" />
        </div>

        <div class="mt-3 mb-3 flex flex-col">
            <label class="mt-1 mb-1 text-xs">Password: </label>
            <input  class="w-52 h-9 text-center" type="password" placeholder="rodritorrico" formControlName="username" />
        </div>

        <div class="mt-3 mb-3 flex flex-col">
            <label class="mt-1 mb-1 text-xs">Folder: </label>
            <input  class="w-52 h-9 text-center" type="password" placeholder="social" formControlName="folder" />
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close class="py-2 px-5 bg-red-600 text-white rounded-md mr-2">Cancel</button>
    <button [mat-dialog-close]="confirm()" class="py-2 px-5 bg-indigo-500 text-white rounded-md">Confirm</button>
</mat-dialog-actions>
