<div class="w-full h-auto bg-slate-100 flex justify-center">
  <div class="w-10/12 mt-32 flex flex-wrap justify-center">
    <ng-container *ngFor="let pswCard of passwordCards$ | async">
      <app-password-manager-card
        class="w-4/12"
        [name]="pswCard.name"
        [url]="pswCard.url"
        (editClieckedEvent)="openEditDialog(pswCard)"
        (deleteClickedEvent)="openDeleteDialog(pswCard.id)"
      >
      </app-password-manager-card>
    </ng-container>
  </div>

  <button
    (click)="openCreateDialog()"
    class="py-2 px-5 bg-indigo-500 text-white rounded-md fixed right-3 bottom-3"
  >
    Add New Password
  </button>
</div>
